body {
  background: #0F172A;
}

#navbar {
  position: fixed;
  background: #1E293B;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
}

#navbar a {
  text-decoration: none;
  color: #F1F5F9;
}

#welcome-section {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  color: #22D3EE;
}

#project-section {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.project {
  display: inline-grid;
  grid-template-rows: auto auto auto; 
  gap: 20px;
  background-color: #1E293B; 
  color: #F1F5F9;
  border-radius: 10px;
  padding: 20px;
  width: 200px;
  text-align: center;
}

.project a {
  text-decoration: none;
}


@media (max-width: 600px) {
  .project-section {
    flex-direction: column;
    align-items: center;
  }

  .project {
    width: 90%;
  }
}
